#grid {
    display: flex;
    justify-content: center;
    align-content: center;
}

#reset {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

div.cell {
    padding: 5px;
    border: solid black 1px;
}

.paint {
    background-color: indigo;
}